@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    .text-xs {
      font-size: 0.53rem /* 12px */;
      line-height: 0.8rem /* 16px */;
    }
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
